<div class="container">
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary" (click="borrarfilto()")>All</button>
        <button type="button" class="btn btn-outline-primary" (clck="Travelfiltro()")>Travel</button>
        <button type="button" class="btn btn-outline-primary" (click="lifeFiltro()")>LifeStyle</button>
        <button type="button" class="btn btn-outline-primary"(click="BussinesFiltro()")>Bussines</button>
      </div>
  </div>
</div>