<div class="container" id="img-post">
    <button id="btn-home">home</button>
<div class="row">
    <div>
        <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, laudantium.</h1>
    </div>

</div>
</div>
<div>
    <div class="row">
        <h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ipsam, veritatis eos tempore quas consectetur fugiat praesentium laudantium asperiores officia architecto rerum, nemo quasi et, ex quos temporibus! Nulla, laborum.</p></h2>
    </div>
</div>

<div class="container">
    <div class="form">
        <input type="text" placeholder="coment" required>
        <button type="submit">send</button>
    </div>
</div>